<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <title>Main Dashboard</title>
</head>
<body>
  <div class="main-container">
    <div class="sidebar">
      <h2>Commands</h2>
       <ul class="menu">
        <li><a href="/portfolio_securities"> 💼 Portfolio Securities</a></li>
        <li><a href="/process_news"> 🗞️⚡ Process News</a></li>
        <li><a href="/management_sentiment">💬 Management Sentiment (#4-Fb)</a></li>
        <li><a href="/management_competition">⚔️ Management Competition (#4-Fb)</a></li>
        <li><a href="/management_sentiment_rankings_fallback">📉 Sentiment Ranking (#7-Fb)</a></li>
        <li><a href="/management_news_indexed">📰 News Summary (#5-Rag))</a></li>
        <li><a href="/management_sentiment_rankings">📊 Sentiment Rankings (#6-Rag)</a></li>


      </ul>
    </div>
    <div class="content">
      <p>Welcome to zzLotteryTicket UI Dashboard</p>
    </div>
  </div>
</body>
</html>
