name: Build & Push zerohedge_faiss

on:
  push:
    branches: [ zzLotteryTicket ]
    paths:
      - 'commands/vectorstore_cmd/**'
      - 'common/config/FAISS_config/**'
      - 'commands/vectorstore_cmd/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: commands/vectorstore_cmd/Dockerfile
          push: true
          tags: alienzimzum/zerohedge_faiss:latest